{
    "include": [
      "src/*.{ts,tsx}"
    ],
    "exclude": [
      "**/node_modules/**",
      "src/**/*.d.ts"
    ],
    "extension": [
      ".ts",
      ".tsx"
    ],
    "require": [
      "source-map-support/register"
    ],
    "reporter": [
      "text",
      "html"
    ],
    "produceSourceMap": true,
    "sourceMap": true,
    "instrument": true,
    "all": true
}